

    header{
        Width:100%;
        background-color:purple;
        font-size:72px;
        color:white;
        text-align:center;
    }

    table{
       width:30%;
       margin:auto;
       border:1px solid gray;
       font-size:20px;
    }

    td{
       border:1px solid gray;
       padding:5px;
    }

    li{
       display: block;
    }

    li a{ 
        display:block;
    }

    .time{
        text-align:center;
    }
    .table-head{
       color:white;
       background-color:seagreen;
       font-weight:bold;
    }

    .alert{
        background-color:pink;
    }
    
    .content{
        margin:40px;
        font-size:20px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        font-size:28px;
        color: #FFFFFF;
        background-color: rgb(27, 91, 230);
        border-radius: 4px;
        border: none;
        text-align: center;
        padding: 20px;
        width: 200px;
        margin: 5px;

    }
    
      
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }
      
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .startButton {
        border-radius: 4px;
        background-color: rgb(0, 206, 0);
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      
      .challenge {
        border-radius: 4px;
        background-color: rgb(27, 91, 230);
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }
      

    .button01 {
        border-radius: 4px;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        border: 2px;
        margin: 20px;
        position: relative;
        background-color:red;
    }


    #question{
        font-size: 30px;
        text-align: center;
        font-weight:bold;
        display:inline-block;
        color: white;
    }

    div.standard{
        margin-top: 10px;
    }
    
    .standard li{
        display:inline-block;
    }


    #clock{
        font-size: 30px;
        margin: 0 2.5%;
        color: white;
        padding:20px;
        width: 50%;
        display: inline-block;
    }

    p{
        font-size:30px;
        color:white;
    }
