



<style>

body{
    background-color: #ff00ff;
}


p {
    text-align: center;
    font-color: red;
    background-color: #ff9900;
    font-size: 25px;
}

h1{
    color: #ff9900;
    background-color: #0066ff
    font-size: 40px;
}

.c1{
    color: #ff9900;
    background-color:#0066ff;
}

.c2{
    color:#ff9900;
    background-color: #ff00ff;
}

div {
    background-color: lightgrey;
    width: 60%;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

.container{
}

header h1{
   font-size:75px;
}

</style>

<!-- Table style sheet -->
<style>
header{
    Width:100%;
    background-color:purple;
    font-size:72px;
    color:white;
    text-align:center;
}

table{
   width:30%;
   margin:auto;
   border:1px solid gray;
   font-size:20px;
}

td{
   border:1px solid gray;
   padding:5px;
}
.time{
    text-align:center;
}
.table-head{
   color:white;
   background-color:seagreen;
   font-weight:bold;
}


</style>
