

    header{
        Width:100%;
        background-color:purple;
        font-size:72px;
        color:white;
        text-align:center;
    }

    table{
       width:30%;
       margin:auto;
       border:1px solid gray;
       font-size:20px;
   }

    td{
       border:1px solid gray;
       padding:5px;
   }
    .time{
        text-align:center;
   }
    .table-head{
       color:white;
       background-color:seagreen;
       font-weight:bold;
   }

    .alert{
        background-color:pink;
    }
   
